<p id="notice"><%= notice %></p>

<h1>Publications Normal</h1>

<%= link_to 'New Publication', new_publication_path, class: 'btn btn-default' %>
<%= link_to 'Admin', administrator_path, class: 'btn btn-default' %>

<table class = "table table-bordered">
  <thead>
    <tr>
      <th>Author</th>
      <th>Drop</th>
      <th>Body</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.author%></td>
        <td><%= publication.drop  %></td>
        <td><%= truncate(publication.body, length: 1000, separator: ' ') %></td>
        <td><%= publication.comments.count  %></td>
        <td><%= link_to 'Show', publication, class: 'btn btn-info'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
