<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @publication.author %>
</p>

<p>
  <strong>Drop:</strong>
  <%= @publication.drop %>
</p>

<p>
  <strong>Body:</strong>
  <%= @publication.body %>
</p>

<%= link_to 'Back', publications_path %>
